<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head.ejs", { title: "Checkout" , styles:"/css/checkout.css" },) %>
  <link rel="stylesheet" href="/css/home.css" />
  <script src="/js/checkout.js" defer></script>
  </head>
  <body>
    <header><%- include("../partials/header.ejs", {page: "checkout"}) %></header>

    <h1>Checkout</h1>
    <% if (checkout.length === 0) { %>
      <p>Your cart is empty. Let's add some items!!</p>
    <% } else { %>
    <ul class="container">
        <% checkout.forEach(checkoutItem => { %>
            <li>
              <div class="imgContainer">
                <img src="<%= checkoutItem.products.image %>" alt="<%= checkoutItem.products.title %>">
              </div>
              <div class="textContainer">
                <h3 class="title"><%= checkoutItem.products.title %></h3>
                <p>Price: $<%= checkoutItem.products.price %></p>
                <p>Quantity: <%= checkoutItem.quantity %></p>
                <p class="totalPrice">$<%= checkoutItem.totalEach %></p>  
              </div>
            </li>
        <% }) %>
    </ul>
    <% } %>  
    <h2>Total : $<%= total %></h2>

</body>
</html>