<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs", { title: "Products", styles: "/css/products.css" }) %>
  </head>
  <body>
    <header><%- include("../partials/header.ejs", {page: "products"}) %>
    <script type="module" src="/js/product.js" defer></script>
    </header>
    <div class="big-container">
        <h1>Products</h1>
        <div class="wrapper-container">
            <ul>
                <% products.forEach(product => { %>
                    <li class="item-container">
                        <div class="item-wrapper">
                            <div class="image-container" style="background-image: url('<%= product.image%>');"></div>

                            <p class="product-title<%=product.id%>"><%= product.title %></p>
                            <p class="price">Price: $<%= product.price %></p>
                            <div class="product-buttons">
                                <div class="button">
                                    <!-- <button class="more-details"><a href="<%= product.description %>">More Details</a></button> -->
                                    <button class="add-to-cart" 
                                    data-product-title="<%= product.title%>" data-product-id="<%= product.id%>" >Add to Cart</button>
                                </div>
                            </div>
<!-- 
                            <form action="/cart/add">
                                <input type="hidden" name="<%= product.id %>" value="<%= product.id %>">
                                <button type="submit">Add to cart</button>
                            </form> -->

                            <div class="product-modal">
                                <p class="product-description"><%= product.description %></p>
                            </div>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</body>

</html>